body{
    background:url('/static/leviathan.jpg');
    background-repeat:no-repeat;
    background-size:100%;
    padding-top:60px;
}

.navbar{
    font-size:2em;
}

.ui-slider-range{
    background-color:white;
}

.svglabel{
    font-size:0.7em;
}
.choosekeyword{
    background-color:#eee;
}
